$primary-color: #26262A;
$active-color:#33A0FF;

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../fonts/ProximaNova-Semibold.eot');
	src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
		url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Semibold.woff') format('woff'),
		url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
		url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../fonts/ProximaNova-Bold.eot');
	src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
		url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Bold.woff') format('woff'),
		url('../fonts/ProximaNova-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

body {
    font-family: 'Proxima Nova Rg';
    margin: 0;
    color: $primary-color;
}

.font-bold {
    font-weight: bold;
}

.font-semibold {
    font-weight: 600;
}

.flex-container {
    display: flex;
}

.column-container {
    @extend .flex-container;
	flex-direction: column;
}

.flex-vertical-center {
    @extend .flex-container;
    align-items: center;
}

.title-h2 {
    @extend .font-semibold;
    text-transform: uppercase;
    font-size: 30px;
    word-spacing: 25%;
	text-align: center;
	margin: 0;
}

.grid-container {
	display: grid;
	justify-items: center;
	align-items: center;
}