    @import '_base';
    .best-seller {
        // margin-top: 98px;
        padding-top: 98px;
        margin-bottom: 42px;
        align-items: center;
        justify-content: space-between;
        .menu-sellers {
            width: 482px;
            line-height: 25px;
            margin-top: 32px;
            margin-bottom: 26px;
            .sellers {
                text-transform: none;
                &.active {
                    border-bottom: 3px solid $active-color;
                }
            }
        }
    }
    
    .card-grid {
        gap: 30px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .good-card {
        width: 270px;
        height: 349px;
        text-decoration: none;
        color: $primary-color;
        position: relative;
    }
    
    .hot-good {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: #FF4858;
        height: 20px;
        width: 40px;
        border-radius: 2px;
        color: white;
        text-transform: uppercase;
        font-size: 12px;
        text-align: center;
        line-height: 20px;
    }
    
    .card-container {
        align-items: center;
        height: 100%;
        border: 3px solid #f6f7f8;
        border-radius: 4px;
        .good-image {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .grey-line {
            width: 230px;
            // size: 1px;
            // border-bottom: none;
            // border-left: none;
            // border-right: none;
            margin: 0;
            border: 1px solid rgb(246, 247, 248);
            // ї   color: rgb(246, 247, 248);
        }
        .good-name {
            margin-top: 19px;
            margin-bottom: 30px;
        }
        .good-rate {
            width: 73px;
            justify-content: space-between;
            margin-bottom: 15px;
        }
        .price-container {
            margin-bottom: 30px;
            font-size: 16px;
            .new-price {
                color: #FF4858;
            }
            .old-price {
                color: #C1C8CE;
                text-decoration: line-through;
            }
        }
    }
    
    .good-image-container {
        position: relative;
    }
    
    .good-controls {
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27px;
        width: 236px;
        height: 153px;
        background-color: white;
        opacity: 85%;
        z-index: -1;
        button {
            height: 46px;
            width: 46px;
            border-radius: 50%;
            border: 2px solid rgba(51, 160, 255, .25);
            position: relative;
            // align-items: center;
            // justify-content: center;
            .like-img {
                position: absolute;
                top: 15px;
                left: 13px;
                // text-align: center;
            }
            .add-img {
                position: absolute;
                top: 14px;
                left: 13px;
                // text-align: center;
            }
        }
        .like {
            margin-right: 10px;
        }
    }
    
    .card-container:hover {
        .good-controls {
            z-index: 0;
        }
    }
    
    .button-load-more {
        margin-top: 92px;
        text-transform: uppercase;
        @extend .font-bold;
        font-size: 14px;
        color: $primary-color;
        border: none;
        height: 23px;
        &.active,
        &:hover {
            border: none;
            border-bottom: 3px solid $active-color;
            color: $active-color;
            cursor: pointer;
        }
    }