@import 'base';
@import 'best-seller';

header {
    height: 216px;
}

.top-menu {
    height: 48px;
    border-bottom: 1px solid #FAFAFB;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    
}

.top-menu .dd:first-child {
    margin-right: 20px;
}

.profile-link,
.cart-link {
    font-size: 14px;
    text-decoration: none;
    color: $primary-color;
    margin-right: 41px;
}

.profile-link > img,
.cart-link > img {
    margin-right: 10px;
}

.cart-controls {
    margin-right: 58px;
}

.cart-link {
    margin-right: 0;
}

.cart-total {
    opacity: .5;
    margin-left: 10px;
    font-size: 14px;
}

.logo-and-nav-container {
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    padding-top: 41px;
    padding-bottom: 36px;
}

nav {
    width: 660px;
    justify-content: space-between;
}

.nav-link {
    @extend .font-semibold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: $primary-color;

    &.active, 
    &:hover {
        color: $active-color;
    }
}

.carousel-section {
    height: 650px;
    background-image: linear-gradient(63deg, #ff4858 -25%, #8f65ff 118%);

    .container {
        justify-content: space-between;
        padding-left: 70px;
        padding-right: 35px;
    }

    .slide-description {
        padding-top: 161px;
        color: white;
    }

    .slide-title {
        @extend .font-bold;
        font-size: 36px;
    }

    .slide-text {
        margin: 40px 0;
        line-height: 22px;
    }

    .slide-link {
        font-size: 14px;
        @extend .font-bold;
        line-height: 22px;
        text-decoration: none;
        color: white;
        border-bottom: 3px solid white;
    }
}

.top-gadgets-section {
    margin-top: -55px;

    .container {
        justify-content: center;
    }
}

.gadget-card {
    width: 390px;
    height: 280px;
    background-color: #F6F7F8;
    color: $primary-color;
    text-decoration: none;
    position: relative;
    padding-top: 44px;
    padding-left: 30px;

    &:first-child {
        background-color: #FF6875;
        color: white;

        .card-text {
            width: 220px;
        }

        .card-image {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .price {
            opacity: .75;
        }
    }

    &:last-child {
        background-color: #C1C8CE;

        .card-text {
            width: 160px;
        }

        .card-image {
            position: absolute;
            right: -26px;
            bottom: 20px;
        }

        .price {
            opacity: .75;
        }
    }

    .card-title {
        @extend .font-bold;
        font-size: 24px;

        &.second {
            padding-top: 180px;
        }
    }

    .card-image {
        position: absolute;
        right: 6px;
        bottom: 10px;
    }

    .card-text {
        font-size: 12px;
        line-height: 20px;
        margin: 20px 0;
    }

    .price {
        font-size: 24px;
    }

    .flex-container {
        padding-top: 180px;
        padding-right: 32px;
        justify-content: space-between;
    }
}