@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

body {
  font-family: 'Proxima Nova Rg';
  margin: 0;
  color: #26262A;
}

.font-bold, .carousel-section .slide-title, .carousel-section .slide-link, .gadget-card .card-title {
  font-weight: bold;
}

.font-semibold, .nav-link {
  font-weight: 600;
}

.flex-container, .column-container, .flex-vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-vertical-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  height: 216px;
}

.top-menu {
  height: 48px;
  border-bottom: 1px solid #FAFAFB;
}

.top-menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.top-menu .dd:first-child {
  margin-right: 20px;
}

.profile-link,
.cart-link {
  font-size: 14px;
  text-decoration: none;
  color: #26262A;
  margin-right: 41px;
}

.profile-link > img,
.cart-link > img {
  margin-right: 10px;
}

.cart-controls {
  margin-right: 58px;
}

.cart-link {
  margin-right: 0;
}

.cart-total {
  opacity: .5;
  margin-left: 10px;
  font-size: 14px;
}

.logo-and-nav-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 41px;
  padding-bottom: 36px;
}

nav {
  width: 660px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #26262A;
}

.nav-link.active, .nav-link:hover {
  color: #33A0FF;
}

.carousel-section {
  height: 650px;
  background-image: linear-gradient(63deg, #ff4858 -25%, #8f65ff 118%);
}

.carousel-section .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 70px;
  padding-right: 35px;
}

.carousel-section .slide-description {
  padding-top: 161px;
  color: white;
}

.carousel-section .slide-title {
  font-size: 36px;
}

.carousel-section .slide-text {
  margin: 40px 0;
  line-height: 22px;
}

.carousel-section .slide-link {
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  color: white;
  border-bottom: 3px solid white;
}

.top-gadgets-section {
  margin-top: -55px;
}

.top-gadgets-section .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gadget-card {
  width: 390px;
  height: 280px;
  background-color: #f6f7f8;
  color: #26262A;
  text-decoration: none;
  padding-top: 36px;
  padding-left: 30px;
  position: relative;
}

.gadget-card:first-child {
  background-color: #FF6875;
  color: white;
}

.gadget-card:first-child .card-text {
  width: 220px;
}

.gadget-card:first-child .price {
  font-size: 24px;
  opacity: .75;
}

.gadget-card:last-child {
  background-color: #c1c8ce;
}

.gadget-card:last-child .card-text {
  width: 160px;
}

.gadget-card .card-title {
  font-size: 24px;
}

.gadget-card .card-text {
  line-height: 20px;
  font-size: 12px;
  margin: 20px 0px;
}

.gadget-card .price {
  font-size: 24px;
  opacity: .75;
}

.gadget-card .card-image {
  position: absolute;
  right: 0;
  bottom: 0;
}
/*# sourceMappingURL=site.css.map */