figure {
    float:left;
    margin:10px;
}

.clear {
    clear: both;
}

.first {
    padding: 20px;
}

span, li {
    line-height: 30px;
}

img {
    width: 200px;
    height: 200px;
}

h1 {
    margin-bottom: 0px;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
}

h2, .question {
    font-style: normal;
    font-size: 16px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-right: 10px;
}

section {
    margin: 10px;
    padding: 10px;
    background-color: lightgrey;
    border: 1px dotted black;
    border-radius: 10px;
}

input, table, select {
    margin-left: 10px;
}

table {
    table-layout: fixed;
    width: 80%;
    border-collapse: collapse;
    border: 1px solid black;
    background-color: white;
}

thead th:nth-child(1) {
    width: 5%;
}
  
thead th:nth-child(2) {
    width: 20%;
}
  
thead th:nth-child(3) {
    width: 30%;
    text-align: left;
}

th, td {
    padding: 5px;
}

tbody td {
    text-align: center;
}

.three {
    text-align: left;
}

form {
    width: 750px;
}

button {
    color: #777777; 
    background:#ffffff;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear; 
}

button:hover {
    color: #fff;
    background: #333;
    transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear; 
}