@import '../../App.scss';
.testimonials-container {
    height: 886px;
    width: 100%;
    background: url('../../img/testimonials-bg.svg') no-repeat;
    background-size: cover;
    padding-top: 165px;
    padding-bottom: 148px;
}

.menu-point-container>.title-of-point {
    width: 362px;
}

.testimonials-cards-container {
    width: 100%;
    padding: 86px 0px 38px;
    justify-content: space-between;
    .card {
        padding-top: 14px;
        align-items: center;
        background: #FEFEFE;
        box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
        width: 314px;
        height: 464px;
        border-radius: 10px;
        .card-photo {
            margin: auto;
            margin-top: 30px;
            margin-bottom: 6px;
            height: 197px;
            width: 127px;
            border-radius: 500px;
        }
    }
    .card-1 {
        .card-photo {
            background-image: url(../../img/photo-1.1.svg);
        }
        .hr {
            background-color: #56CCF2;
        }
        .author-position {
            color: #56CCF2;
        }
    }
    .card-2 {
        .card-photo {
            background-image: url(../../img/photo-2.1.svg);
        }
        .hr {
            background-color: #FCC304;
        }
        .author-position {
            color: #FCC304;
        }
    }
    .card-3 {
        .card-photo {
            background-image: url(../../img/photo-3.1.svg);
        }
        .hr {
            background-color: #F25656;
        }
        .author-position {
            color: #F25656;
        }
    }
    .card-testimonial {
        width: 250px;
        margin: 0;
        font-style: italic;
        font-weight: normal;
        font-size: 15px;
        line-height: 150%;
        text-align: center;
    }
}

.card>.hr {
    margin: 31px 125px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    width: 64px;
    height: 2px;
    box-shadow: none;
    border-radius: 500px;
}

.author-name {
    text-align: center;
    font-size: 13px;
    line-height: 150%;
    color: #152032;
}

.author-position {
    text-align: center;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}