* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
}

.central-layout {
  min-width: 1144px;
  margin: auto;
}

.container {
  margin: 0 auto;
}

.font-bold {
  font-weight: 600;
}

.font-800 {
  font-weight: 800;
}

.font-900 {
  font-weight: 900;
}

.flex-container, .column-container, .flex-vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-vertical-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container {
  display: -ms-grid;
  display: grid;
}

h2 {
  margin: 0;
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  color: #253757;
  text-align: center;
}

.title-of-point {
  margin: 0;
  margin-top: 19px;
}

.process-container {
  background-color: #FCFCFC;
  margin-top: 91px;
  margin: auto;
}

.process-header {
  margin: 81px 187px 91px 0px;
  width: 362px;
}

.process-header .title-of-point {
  font-size: 32px;
  line-height: 140%;
  margin-top: 19px;
  margin-bottom: 64px;
  color: #253757;
}

.process-header .column-container {
  height: 168px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.process-header .column-container :nth-child(1) {
  margin-top: 0;
}

.steps-container {
  width: 538px;
  height: 752px;
  margin-top: 165px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 58px;
}

.steps-container .first-column {
  margin-top: 112px;
  height: 640px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps-container .first-column .card {
  width: 240px;
  height: 256px;
  -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
          box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
  background: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.steps-container .first-column .card::before {
  position: absolute;
  top: 120px;
  left: -90px;
  width: 422px;
  height: 16px;
  content: "";
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  z-index: 1;
  border-radius: 500px;
}

.steps-container .first-column .first-card::before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56CCF2;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56CCF2;
}

.steps-container .first-column .third-card::before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #03D542;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #03D542;
}

.second-column {
  margin-top: 1px;
  height: 640px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.second-column .card {
  width: 240px;
  height: 256px;
  -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
          box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
  background: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.second-column .card::before {
  position: absolute;
  top: 120px;
  left: -90px;
  width: 422px;
  height: 16px;
  content: "";
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  z-index: 0;
  border-radius: 500px;
}

.second-column .second-card::before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #FCC304;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #FCC304;
}

.second-column .fourth-card::before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #F25656;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #F25656;
}

.card-number {
  margin-top: 64px;
  margin-bottom: 4px;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
}

.card-text {
  margin: 0;
  text-align: center;
  font-size: 13px;
  line-height: 150%;
  width: 178px;
}

.first-number {
  color: #56CCF2;
}

.second-number {
  color: #FCC304;
}

.third-number {
  color: #03D542;
}

.fourth-number {
  color: #F25656;
}

.first-number::before {
  position: absolute;
  content: "";
  left: -12px;
  bottom: 28px;
  background: #56CCF2;
  opacity: 0.1;
  width: 48px;
  height: 48px;
  z-index: 2;
  border-radius: 50%;
}

.second-number::before {
  position: absolute;
  content: "";
  left: -12px;
  bottom: 28px;
  background: #FCC304;
  opacity: 0.1;
  width: 48px;
  height: 48px;
  z-index: 2;
  border-radius: 50%;
}

.third-number::before {
  position: absolute;
  content: "";
  left: -12px;
  bottom: 28px;
  background: #03D542;
  opacity: 0.1;
  width: 48px;
  height: 48px;
  z-index: 2;
  border-radius: 50%;
}

.fourth-number::before {
  position: absolute;
  content: "";
  left: -12px;
  bottom: 28px;
  background: #F25656;
  opacity: 0.1;
  width: 48px;
  height: 48px;
  z-index: 2;
  border-radius: 50%;
}
/*# sourceMappingURL=process.css.map */