@import '../../App.scss';
.unique-gradient {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-bottom: 64px;
    background: #355C7D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.central-layout {
    max-width: 1144px;
}

.what-we-do {
    margin-top: 136px;
    margin-bottom: 91px;
}

.work-areas-column {
    // width: 100%;
    margin-top: 136px;
    padding-left: 76px;
    padding-right: 76px;
    justify-content: space-between;
}

.area-1,
.area-2,
.area-3 {
    width: 264px;
    .area-title {
        margin: 0;
        font-size: 20px;
        line-height: 140%;
        color: $dark-color;
        margin-bottom: 32px;
    }
    .area-text {
        font-size: 16px;
        line-height: 150%;
        color: $text-color;
        margin: 0;
    }
}

.area-1,
.area-2 {
    margin-right: 100px;
}

.process-container {
    margin-top: 322px;
}