    $main-color: white;
    $dark-color: #253757;
    $points-color: #56CCF2;
    $text-color: #334563;
    $accent-color: #FCC304;
    * {
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Muli', sans-serif;
        margin: 0;
        // background: #F5F5F5;
    }
    
    .container {
        max-width: 1600px;
        margin: 0 auto;
    }
    
    .font-bold {
        font-weight: 600;
    }
    
    .font-800 {
        font-weight: 800;
    }
    
    .font-900 {
        font-weight: 900;
    }
    
    .flex-container {
        display: flex;
    }
    
    .column-container {
        @extend .flex-container;
        flex-direction: column;
    }
    
    .flex-vertical-center {
        @extend .flex-container;
        align-items: center;
    }
    
    .grid-container {
        display: grid;
    }
    
    h2 {
        margin: 0;
        font-weight: 900;
        font-size: 48px;
        line-height: 100%;
        color: $dark-color;
        text-align: center;
    }
    
    .title-of-point {
        margin: 0;
        margin-top: 19px;
    }