@import 'base';
@import 'results';
.contacts-container {
    width: 1146px;
    height: 644px;
    margin: auto;
    justify-content: space-between;
    .menu-point-container {
        padding-left: 0;
    }
}

.form-container {
    width: 656px;
    margin-right: 128px;
}

.contact-us-container {
    width: 362px;
    align-items: flex-start;
}

.contact-container {
    margin-top: 43px;
    .title {
        font-size: 13px;
        line-height: 150%;
        display: flex;
        align-items: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #334563;
    }
    .contact {
        font-size: 24px;
        line-height: 150%;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #56CCF2;
        width: 260px;
    }
}

.social-icons-container {
    width: 192px;
    margin-top: 51px;
    justify-content: space-between;
}

.footer {
    width: 1145px;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 65px;
}

.footer>nav {
    width: 558px;
    justify-content: space-between;
}

.footer-nav-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 150%;
    color: #253757;
}

.form-row {
    height: 41px;
    width: 656px;
    border-bottom: 1px solid #E1E1E1;
    list-style-type: none;
    input {
        border: none;
    }
    label {
        font-size: 15px;
        line-height: 150%;
        color: #152032;
    }
}

li:nth-child(1),
li:nth-child(2) {
    margin-bottom: 48px;
}

li:nth-child(3) {
    margin-bottom: 105px;
}

form {
    margin-top: 104px;
}