* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.font-bold {
  font-weight: 600;
}

.font-800 {
  font-weight: 800;
}

.font-900 {
  font-weight: 900;
}

.flex-container, .column-container, .flex-vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-vertical-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container {
  display: -ms-grid;
  display: grid;
}

h2 {
  margin: 0;
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  color: #253757;
  text-align: center;
}

.title-of-point {
  margin: 0;
  margin-top: 19px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.font-bold {
  font-weight: 600;
}

.font-800 {
  font-weight: 800;
}

.font-900 {
  font-weight: 900;
}

.flex-container, .column-container, .flex-vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-vertical-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container {
  display: -ms-grid;
  display: grid;
}

h2 {
  margin: 0;
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  color: #253757;
  text-align: center;
}

.title-of-point {
  margin: 0;
  margin-top: 19px;
}

.intro {
  color: white;
}

header {
  margin-left: 227px;
  margin-top: 48px;
  width: 100%;
}

.background {
  width: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='1600' height='931' viewBox='0 0 1600 931' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Crect y='0.000244141' width='1029' height='848' fill='%2356CCF2'/%3E%3Crect x='583' y='678.046' width='1107.84' height='600.608' transform='rotate(-65.0996 583 678.046)' fill='%2356CCF2'/%3E%3Cg opacity='0.5'%3E%3Crect x='886.219' y='740.65' width='1128' height='298.234' rx='149.117' transform='rotate(-65 886.219 740.65)' fill='%2356CCF2'/%3E%3Crect x='886.219' y='740.65' width='1128' height='298.234' rx='149.117' transform='rotate(-65 886.219 740.65)' fill='url(%23paint0_linear)' fill-opacity='0.25'/%3E%3C/g%3E%3Cg opacity='0.5'%3E%3Crect x='585' y='680.322' width='1128' height='298.234' rx='149.117' transform='rotate(-65 585 680.322)' fill='%2356CCF2'/%3E%3Crect x='585' y='680.322' width='1128' height='298.234' rx='149.117' transform='rotate(-65 585 680.322)' fill='url(%23paint1_linear)' fill-opacity='0.25'/%3E%3C/g%3E%3Crect x='1189.53' y='794.925' width='956.925' height='53.0179' rx='26.509' transform='rotate(-65 1189.53 794.925)' fill='%2356CCF2'/%3E%3Crect x='1189.53' y='794.925' width='956.925' height='53.0179' rx='26.509' transform='rotate(-65 1189.53 794.925)' fill='url(%23paint2_linear)' fill-opacity='0.25'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='1450.22' y1='740.65' x2='1450.22' y2='1038.88' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='1149' y1='680.322' x2='1149' y2='978.556' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear' x1='1667.99' y1='794.925' x2='1667.99' y2='847.943' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3CclipPath id='clip0'%3E%3Crect width='1600' height='931' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.logo {
  font-size: 32px;
}

.top-menu {
  margin-left: 143px;
  margin-right: 135px;
  width: 558px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-menu-link {
  text-decoration: none;
  line-height: 150%;
  font-size: 16px;
  color: white;
}

.hire-us {
  margin-top: 9px;
  text-align: center;
  position: relative;
}

.hire-us::after {
  content: "";
  margin-top: 5px;
  width: 64px;
  height: 4px;
  background-color: #FCC304;
  border-radius: 32px;
  display: block;
}

h1 {
  margin: 0;
  margin-top: 76px;
  margin-left: 325px;
  font-size: 64px;
  line-height: 150%;
}

.main-text {
  margin: 0;
  margin-top: 22px;
  margin-left: 325px;
  width: 754px;
  font-size: 24px;
  line-height: 150%;
  font-weight: 200;
}

.learn-more {
  width: 226px;
  height: 56px;
  margin-top: 42px;
  margin-left: 325px;
  background: #FFFFFF;
  border-radius: 64px;
  font-size: 16px;
  color: #253757;
  text-align: center;
  letter-spacing: 1px;
  line-height: 150%;
  border: none;
  font-family: Muli, serif;
  font-weight: 600;
}

.main-picture-and-socials {
  margin-top: 75px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.social-links-container {
  height: 19px;
  width: 416px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  top: 50%;
  left: 1232px;
}

.social-links-container .social-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #253757;
  font-size: 13px;
  letter-spacing: 2px;
}

.point-and-text-container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  top: 477px;
  left: 325px;
}

.point-and-text-container .text-point {
  font-size: 20px;
  line-height: 140%;
  width: 264px;
  margin: 0;
}

.point {
  margin: 0;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 2px;
  color: #56CCF2;
}

.nav-button {
  width: 162px;
  height: 64px;
  border: none;
  border-radius: 50px;
  background: #FCC304;
  position: absolute;
  top: 288px;
  left: 146px;
}

.welcome-container {
  padding-left: 423px;
  margin-top: 166px;
}

.icon {
  width: 21px;
  height: 21px;
  margin-right: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 13.5C0.5 12.9477 0.947715 12.5 1.5 12.5C2.05228 12.5 2.5 12.9477 2.5 13.5C2.5 14.0523 2.05228 14.5 1.5 14.5C0.947715 14.5 0.5 14.0523 0.5 13.5ZM6.49998 13.5001C6.49998 12.9478 6.94769 12.5001 7.49998 12.5001C8.05226 12.5001 8.49998 12.9478 8.49998 13.5001C8.49998 14.0523 8.05226 14.5001 7.49998 14.5001C6.94769 14.5001 6.49998 14.0523 6.49998 13.5001ZM12.5 13.5001C12.5 12.9478 12.9477 12.5001 13.5 12.5001C14.0523 12.5001 14.5 12.9478 14.5 13.5001C14.5 14.0523 14.0523 14.5001 13.5 14.5001C12.9477 14.5001 12.5 14.0523 12.5 13.5001ZM18.5 13.5001C18.5 12.9478 18.9477 12.5001 19.5 12.5001C20.0523 12.5001 20.5 12.9478 20.5 13.5001C20.5 14.0523 20.0523 14.5001 19.5 14.5001C18.9477 14.5001 18.5 14.0523 18.5 13.5001ZM0.5 19.5C0.5 18.9478 0.947715 18.5 1.5 18.5C2.05228 18.5 2.5 18.9478 2.5 19.5C2.5 20.0523 2.05228 20.5 1.5 20.5C0.947715 20.5 0.5 20.0523 0.5 19.5ZM6.49998 19.5C6.49998 18.9478 6.94769 18.5 7.49998 18.5C8.05226 18.5 8.49998 18.9478 8.49998 19.5C8.49998 20.0523 8.05226 20.5 7.49998 20.5C6.94769 20.5 6.49998 20.0523 6.49998 19.5ZM12.5 19.5C12.5 18.9478 12.9477 18.5 13.5 18.5C14.0523 18.5 14.5 18.9478 14.5 19.5C14.5 20.0523 14.0523 20.5 13.5 20.5C12.9477 20.5 12.5 20.0523 12.5 19.5ZM18.5 19.5C18.5 18.9478 18.9477 18.5 19.5 18.5C20.0523 18.5 20.5 18.9478 20.5 19.5C20.5 20.0523 20.0523 20.5 19.5 20.5C18.9477 20.5 18.5 20.0523 18.5 19.5ZM0.5 1.5C0.5 0.947715 0.947715 0.5 1.5 0.5C2.05228 0.5 2.5 0.947715 2.5 1.5C2.5 2.05228 2.05228 2.5 1.5 2.5C0.947715 2.5 0.5 2.05228 0.5 1.5ZM6.49998 1.50005C6.49998 0.947768 6.94769 0.500053 7.49998 0.500053C8.05226 0.500053 8.49998 0.947768 8.49998 1.50005C8.49998 2.05234 8.05226 2.50005 7.49998 2.50005C6.94769 2.50005 6.49998 2.05234 6.49998 1.50005ZM12.5 1.50005C12.5 0.947768 12.9477 0.500053 13.5 0.500053C14.0523 0.500053 14.5 0.947768 14.5 1.50005C14.5 2.05234 14.0523 2.50005 13.5 2.50005C12.9477 2.50005 12.5 2.05234 12.5 1.50005ZM18.5 1.50005C18.5 0.947769 18.9477 0.500053 19.5 0.500053C20.0523 0.500053 20.5 0.947769 20.5 1.50005C20.5 2.05234 20.0523 2.50005 19.5 2.50005C18.9477 2.50005 18.5 2.05234 18.5 1.50005ZM0.5 7.50005C0.5 6.94777 0.947715 6.50005 1.5 6.50005C2.05228 6.50005 2.5 6.94777 2.5 7.50005C2.5 8.05233 2.05228 8.50005 1.5 8.50005C0.947716 8.50005 0.5 8.05233 0.5 7.50005ZM6.49998 7.50005C6.49998 6.94777 6.94769 6.50005 7.49998 6.50005C8.05226 6.50005 8.49998 6.94777 8.49998 7.50005C8.49998 8.05233 8.05226 8.50005 7.49998 8.50005C6.94769 8.50005 6.49998 8.05233 6.49998 7.50005ZM12.5 7.50005C12.5 6.94777 12.9477 6.50005 13.5 6.50005C14.0523 6.50005 14.5 6.94777 14.5 7.50005C14.5 8.05233 14.0523 8.50005 13.5 8.50005C12.9478 8.50005 12.5 8.05233 12.5 7.50005ZM18.5 7.50005C18.5 6.94777 18.9477 6.50005 19.5 6.50005C20.0523 6.50005 20.5 6.94777 20.5 7.50005C20.5 8.05233 20.0523 8.50005 19.5 8.50005C18.9477 8.50005 18.5 8.05233 18.5 7.50005Z' fill='url(%23paint0_linear)' fill-opacity='0.25' stroke='%2356CCF2'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='19.5' y1='6' x2='19.5' y2='9' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

.welcome-text {
  margin: 0;
  margin-top: 21px;
  width: 742px;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #253757;
}

.what-we-do {
  margin-top: 136px;
  margin-bottom: 162px;
}

.work-areas-column {
  width: 100%;
  margin-top: 136px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.area-1,
.area-2,
.area-3 {
  width: 264px;
}

.area-1 img,
.area-2 img,
.area-3 img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-bottom: 64px;
}

.area-1 .area-title,
.area-2 .area-title,
.area-3 .area-title {
  margin: 0;
  font-size: 20px;
  line-height: 140%;
  color: #253757;
  margin-bottom: 32px;
}

.area-1 .area-text,
.area-2 .area-text,
.area-3 .area-text {
  font-size: 16px;
  line-height: 150%;
  color: #334563;
  margin: 0;
}

.area-1 {
  margin-left: 227px;
}

.area-1,
.area-2 {
  margin-right: 129px;
}

.process-container {
  margin-top: 322px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.font-bold {
  font-weight: 600;
}

.font-800 {
  font-weight: 800;
}

.font-900 {
  font-weight: 900;
}

.flex-container, .column-container, .flex-vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-vertical-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container {
  display: -ms-grid;
  display: grid;
}

h2 {
  margin: 0;
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  color: #253757;
  text-align: center;
}

.title-of-point {
  margin: 0;
  margin-top: 19px;
}

.process-header {
  margin: 160px 187px 291px 163px;
  width: 362px;
}

.process-header .column-container {
  height: 168px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.process-header .column-container :nth-child(1) {
  margin-top: 0;
}

.title-of-point {
  font-size: 32px;
  line-height: 140%;
  margin-top: 19px;
  margin-bottom: 64px;
  color: #253757;
}

.steps-container {
  width: 538px;
  height: 752px;
  margin-top: 224px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 58px;
}

.steps-container .first-column {
  margin-top: 112px;
  height: 640px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps-container .first-column .card {
  width: 240px;
  height: 256px;
  -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
          box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
  background: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.steps-container .first-column .card::before {
  position: absolute;
  top: 120px;
  left: -90px;
  width: 422px;
  height: 16px;
  content: "";
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  z-index: -1;
  border-radius: 500px;
}

.steps-container .first-column .first-card::before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56CCF2;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56CCF2;
}

.steps-container .first-column .third-card::before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #03D542;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #03D542;
}

.steps-container .second-column {
  margin-top: 1px;
  height: 640px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps-container .second-column .card {
  width: 240px;
  height: 256px;
  -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
          box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
  background: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.steps-container .second-column .card::before {
  position: absolute;
  top: 120px;
  left: -90px;
  width: 422px;
  height: 16px;
  content: "";
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  z-index: -1;
  border-radius: 500px;
}

.steps-container .second-column .second-card::before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #FCC304;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #FCC304;
}

.steps-container .second-column .fourth-card::before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #F25656;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #F25656;
}

.steps-container .card-number {
  margin-top: 64px;
  margin-bottom: 4px;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
}

.steps-container .card-text {
  margin: 0;
  text-align: center;
  font-size: 13px;
  line-height: 150%;
  width: 178px;
}

.steps-container .first-number {
  color: #56CCF2;
}

.steps-container .second-number {
  color: #FCC304;
}

.steps-container .third-number {
  color: #03D542;
}

.steps-container .fourth-number {
  color: #F25656;
}

.steps-container .first-number::before {
  position: absolute;
  content: "";
  left: -12px;
  bottom: 28px;
  background: #56CCF2;
  opacity: 0.1;
  width: 48px;
  height: 48px;
  z-index: 1;
  border-radius: 50%;
}

.steps-container .second-number::before {
  position: absolute;
  content: "";
  left: -12px;
  bottom: 28px;
  background: #FCC304;
  opacity: 0.1;
  width: 48px;
  height: 48px;
  z-index: 1;
  border-radius: 50%;
}

.steps-container .third-number::before {
  position: absolute;
  content: "";
  left: -12px;
  bottom: 28px;
  background: #03D542;
  opacity: 0.1;
  width: 48px;
  height: 48px;
  z-index: 1;
  border-radius: 50%;
}

.steps-container .fourth-number::before {
  position: absolute;
  content: "";
  left: -12px;
  bottom: 28px;
  background: #F25656;
  opacity: 0.1;
  width: 48px;
  height: 48px;
  z-index: 1;
  border-radius: 50%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.font-bold {
  font-weight: 600;
}

.font-800 {
  font-weight: 800;
}

.font-900 {
  font-weight: 900;
}

.flex-container, .column-container, .flex-vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-vertical-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container {
  display: -ms-grid;
  display: grid;
}

h2 {
  margin: 0;
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  color: #253757;
  text-align: center;
}

.title-of-point {
  margin: 0;
  margin-top: 19px;
}

.features-container {
  margin-top: 150px;
  padding-top: 198px;
  padding-left: 227px;
  background: url("../img/features-bg.svg") no-repeat;
  height: 976px;
}

.features-container .point {
  color: white;
}

.features-container .icon {
  background-image: url("../img/Menu-icon-white.svg");
}

.title-of-point {
  margin-top: 19px;
  margin-bottom: 69px;
  width: 362px;
}

.first-feature-icon,
.second-feature-icon,
.third-feature-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 64px;
  height: 64px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  margin-right: 32px;
}

.first-feature-icon::after {
  width: 24px;
  height: 24px;
  position: absolute;
  background: url("../img/announcement speaker.svg");
  content: '';
  z-index: 1;
  top: 20px;
  left: 20px;
}

.second-feature-icon::after {
  width: 24px;
  height: 24px;
  position: absolute;
  background: url("../img/calendar.svg");
  content: '';
  z-index: 1;
  top: 20px;
  left: 20px;
}

.third-feature-icon::after {
  width: 24px;
  height: 24px;
  position: absolute;
  background: url("../img/file-text.svg");
  content: '';
  z-index: 1;
  top: 20px;
  left: 20px;
}

.feature-text {
  color: white;
  width: 263px;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
}

.feature-point:nth-child(1),
.feature-point:nth-child(2) {
  margin-bottom: 64px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.font-bold {
  font-weight: 600;
}

.font-800 {
  font-weight: 800;
}

.font-900 {
  font-weight: 900;
}

.flex-container, .column-container, .flex-vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-vertical-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container {
  display: -ms-grid;
  display: grid;
}

h2 {
  margin: 0;
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  color: #253757;
  text-align: center;
}

.title-of-point {
  margin: 0;
  margin-top: 19px;
}

.testimonials-container {
  height: 886px;
  width: 100%;
  background: url("../img/testimonials-bg.svg") no-repeat;
  padding-top: 165px;
}

.menu-point-container {
  padding-left: 227px;
}

.testimonials-cards-container {
  width: 100%;
  padding: 86px 251px 38px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonials-cards-container .card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FEFEFE;
  -webkit-box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
          box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
  width: 314px;
  height: 464px;
}

.testimonials-cards-container .card .card-photo {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 6px;
  height: 197px;
  width: 127px;
  border-radius: 500px;
}

.testimonials-cards-container .first-card .card-photo {
  background-image: url(../img/photo-1.1.svg);
}

.testimonials-cards-container .first-card .hr {
  background-color: #56CCF2;
}

.testimonials-cards-container .first-card .author-position {
  color: #56CCF2;
}

.testimonials-cards-container .second-card .card-photo {
  background-image: url(../img/photo-2.1.svg);
}

.testimonials-cards-container .second-card .hr {
  background-color: #FCC304;
}

.testimonials-cards-container .second-card .author-position {
  color: #FCC304;
}

.testimonials-cards-container .third-card .card-photo {
  background-image: url(../img/photo-3.1.svg);
}

.testimonials-cards-container .third-card .hr {
  background-color: #F25656;
}

.testimonials-cards-container .third-card .author-position {
  color: #F25656;
}

.testimonials-cards-container .card-testimonial {
  width: 250px;
  margin: 0;
  font-style: italic;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  text-align: center;
}

.card > .hr {
  margin: 31px 125px;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
  width: 64px;
  height: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 500px;
}

.author-name {
  text-align: center;
  font-size: 13px;
  line-height: 150%;
  color: #152032;
}

.author-position {
  text-align: center;
  font-size: 13px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.font-bold {
  font-weight: 600;
}

.font-800 {
  font-weight: 800;
}

.font-900 {
  font-weight: 900;
}

.flex-container, .column-container, .flex-vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-vertical-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container {
  display: -ms-grid;
  display: grid;
}

h2 {
  margin: 0;
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  color: #253757;
  text-align: center;
}

.title-of-point {
  margin: 0;
  margin-top: 19px;
}

.results-container {
  width: 1451px;
  height: 547px;
  margin-left: 83px;
  padding-top: 122px;
  background: url("../img/resuls-block.svg");
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results-text {
  margin-top: 57px;
  margin-bottom: 55px;
  width: 754px;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #334563;
}

.apply-button {
  width: 226px;
  height: 56px;
  background: #2F80ED;
  border-radius: 64px;
  border: none;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.font-bold {
  font-weight: 600;
}

.font-800 {
  font-weight: 800;
}

.font-900 {
  font-weight: 900;
}

.flex-container, .column-container, .flex-vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-vertical-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container {
  display: -ms-grid;
  display: grid;
}

h2 {
  margin: 0;
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  color: #253757;
  text-align: center;
}

.title-of-point {
  margin: 0;
  margin-top: 19px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.font-bold {
  font-weight: 600;
}

.font-800 {
  font-weight: 800;
}

.font-900 {
  font-weight: 900;
}

.flex-container, .column-container, .flex-vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-vertical-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container {
  display: -ms-grid;
  display: grid;
}

h2 {
  margin: 0;
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  color: #253757;
  text-align: center;
}

.title-of-point {
  margin: 0;
  margin-top: 19px;
}

.results-container {
  width: 1451px;
  height: 547px;
  margin-left: 83px;
  padding-top: 122px;
  background: url("../img/resuls-block.svg");
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results-text {
  margin-top: 57px;
  margin-bottom: 55px;
  width: 754px;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #334563;
}

.apply-button {
  width: 226px;
  height: 56px;
  background: #2F80ED;
  border-radius: 64px;
  border: none;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.contacts-container {
  width: 1146px;
  height: 644px;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-container .menu-point-container {
  padding-left: 0;
}

.form-container {
  width: 656px;
  margin-right: 128px;
}

.contact-us-container {
  width: 362px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact-container {
  margin-top: 43px;
}

.contact-container .title {
  font-size: 13px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #334563;
}

.contact-container .contact {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56CCF2;
  width: 260px;
}

.social-icons-container {
  width: 192px;
  margin-top: 51px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer {
  width: 1145px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  margin-bottom: 65px;
}

.footer > nav {
  width: 558px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-nav-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 150%;
  color: #253757;
}

.form-row {
  height: 41px;
  width: 656px;
  border-bottom: 1px solid #E1E1E1;
  list-style-type: none;
}

.form-row input {
  border: none;
}

.form-row label {
  font-size: 15px;
  line-height: 150%;
  color: #152032;
}

li:nth-child(1),
li:nth-child(2) {
  margin-bottom: 48px;
}

li:nth-child(3) {
  margin-bottom: 105px;
}

form {
  margin-top: 104px;
}
/*# sourceMappingURL=style.css.map */